@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
}

/* o asterisco serve para estilizar todos os elementos html da página
vamos resetar a margin, o padding e box-sizing*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

img {
    max-width: 100%;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/*cabeçalho*/
.cabecalho .logo .imagem {
    width: 100px;
}

.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo .titulo {
    margin-left: 7px;
    font-size: 17px;
    transition: 0.3s ease-in-out;
    font-weight: 800;
}

.cabecalho .titulo:hover {
    color: #1ed760
}

.cabecalho .menu {
    display: flex;

}

.cabecalho .navegacao .menu .item {
    margin: 10px;

}

.cabecalho .navegacao .menu .item a {
    padding: 15px;
    transition: 0.3s ease-in-out;
}

.cabecalho .navegacao .menu .item a:hover {
    background-color: #1ed760;
    color: white;

}

/*cabeçalho*/

/*paineis*/
.conteudo-principal .paineis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    position: relative
}

.conteudo-principal .paineis .imagem-painel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.conteudo-principal .paineis .projeto1 {
    background-image: url('../imagens/painel1.jpg');
}

.conteudo-principal .paineis .projeto2 {
    background-image: url('../imagens/painel2.jpg');
}

.conteudo-principal .paineis .projeto3 {
    background-image: url('../imagens/painel3.jpg');
}

.conteudo-principal .paineis .imagem-painel.mostrar {
    opacity: 1;
}

.conteudo-principal .paineis .titulo {
    color: #fff;
    text-transform: uppercase;
    font-size: calc(1em + 1vw);
}

.conteudo-principal .paineis .seta {
    background-image: url('../imagens/seta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    text-indent: 100%;
    overflow: hidden;
}

.conteudo-principal .paineis .seta.btn-voltar {
    left: 20px;
    transform: rotateY(180deg);
}

.conteudo-principal .paineis .seta.btn-avancar {
    right: 20px;

}

/*paineis*/
/* QUEM SOMOS*/
.quem-somos {
    background-color: #2941ab;
}

.quem-somos .conteudo {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.quem-somos .conteudo .informacoes {
    width: 40%;
}

.quem-somos .conteudo .imagem {
    width: 60%;
}

.quem-somos .conteudo .informacoes .titulo {
    font-size: 50px;
    color: #1ed760;
    margin-bottom: 20px;

}

.quem-somos .conteudo .informacoes .texto {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
}

/* QUEM SOMOS*/
/*rodapé*/
.rodape {
    padding: 80px 0 20px 0;

}

.rodape .navegacao {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.rodape .redes-sociais {
    display: flex;
}

.rodape .redes-sociais a {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    font-size: 30px;
    border: 2px solid #111;
    border-radius: 50%;
    padding: 15px;
    width: 65px;
    transition: 0.3s ease-in-out;
}

.rodape .redes-sociais a:hover {
    background-color: #1ed760;
}

.rodape .navegacao .logo .imagem {
    width: 50px;
}

.rodape .copyright {
    margin-top: 70x;
    text-align: center;

}

/*rodapé*/